unpackaged/flows/Get_User_Record_Access_Levels.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Build_Sobject_Type_Values</name>
        <label>Build Sobject Type Values</label>
        <locationX>1093</locationX>
        <locationY>311</locationY>
        <actionName>BuildSobjectTypeValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User_Selected</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>BuildSobjectTypeValues</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_User_Access_Levels</name>
        <label>Get User Access Levels</label>
        <locationX>1089</locationX>
        <locationY>735</locationY>
        <actionName>UserAccessLevel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User_Access_Val_Loop</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>selectedRecordTypeId</name>
            <value>
                <elementReference>SelectedRecordTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedUser</name>
            <value>
                <elementReference>SelectedUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjectType</name>
            <value>
                <elementReference>SobjectTypeSelected</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UserAccessLevel</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_User_Access_Val_to_List</name>
        <label>Add User Access Val to List</label>
        <locationX>1436</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>UserAccessValsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserAccessVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Access_Val_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_User_Access_Val</name>
        <label>Create User Access Val</label>
        <locationX>1436</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>UserAccessVal.UserId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Access_Val_Loop.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserAccessVal.UserFullName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Access_Val_Loop.UserFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserAccessVal.sObjectType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Access_Val_Loop.sObjectType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserAccessVal.RecordTypeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Access_Val_Loop.RecordTypeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserAccessVal.RecordTypeDeveloperName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Access_Val_Loop.RecordTypeDeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserAccessVal.RecordIdTested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Access_Val_Loop.recordIdTested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserAccessVal.User_Access_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Access_Val_Loop.AccessLevel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_Access_Val_to_List</targetReference>
        </connector>
    </assignments>
    <description>Developer: Marcus Harikian
LinkedIn: www.linkedin.com/in/marcus-harikian-0194342

This flow runs in System Context to allow for access to all records in the system.
To avoid exposing record level access unnecessarily, just be sure to assign the User Record Level Access app to only those who need to see it.</description>
    <dynamicChoiceSets>
        <name>RecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SelectedRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SobjectTypeChoices</name>
        <dataType>String</dataType>
        <displayField>Sobject_Type__c</displayField>
        <object>Sobject_Type__c</object>
        <outputAssignments>
            <assignToReference>SobjectTypeSelected</assignToReference>
            <field>Sobject_Type__c</field>
        </outputAssignments>
        <sortField>Sobject_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Sobject_Type__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SelectedUser.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedUser.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Get User Record Access Levels {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get User Record Access Levels</label>
    <loops>
        <name>User_Access_Val_Loop</name>
        <label>User Access Val Loop</label>
        <locationX>1088</locationX>
        <locationY>920</locationY>
        <collectionReference>Get_User_Access_Levels.filteredUserAccess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_User_Access_Val</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>User_Access_Results_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>User_Access_Results_List</name>
        <label>User Access Results List</label>
        <locationX>1092</locationX>
        <locationY>1329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>User_Access_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User_Access_Value__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>UserAccessValsList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;UserFullName__c&quot;,&quot;guid&quot;:&quot;column-495a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;User Full Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;UserFullName&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;UserId__c&quot;,&quot;guid&quot;:&quot;column-161b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;User Id&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;UserId&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;sObjectType__c&quot;,&quot;guid&quot;:&quot;column-9e23&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;sObject Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;sObjectType&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RecordIdTested__c&quot;,&quot;guid&quot;:&quot;column-8ca1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Id Tested&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;RecordIdTested&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RecordTypeName__c&quot;,&quot;guid&quot;:&quot;column-1a7e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;RecordTypeName&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RecordTypeDeveloperName__c&quot;,&quot;guid&quot;:&quot;column-a1ad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type Developer Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;RecordTypeDeveloperName&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;User_Access_Level__c&quot;,&quot;guid&quot;:&quot;column-c215&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;User Access Level&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;User Access Level&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Selected</name>
        <label>User Selected</label>
        <locationX>1089</locationX>
        <locationY>534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_User_Access_Levels</targetReference>
        </connector>
        <fields>
            <name>Select_User</name>
            <choiceReferences>UserChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select User</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Sobject_Type</name>
            <choiceReferences>SobjectTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Sobject Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_By_One_Record_Type</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Select By One Record Type</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Use this option if you run into errors around TOO MANY SOQL QUERIES.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Record_Type_Selector</name>
            <choiceReferences>RecordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Type Selector</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_By_One_Record_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Build_Sobject_Type_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Default value is &apos;&apos; in the case where a Record Type Id is not selected in the screen. This avoids errors when passing empty/null values to the Invocable Variable in the Apex class.</description>
        <name>SelectedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SelectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SobjectTypeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserAccessVal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User_Access_Value__mdt</objectType>
    </variables>
    <variables>
        <name>UserAccessValsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User_Access_Value__mdt</objectType>
    </variables>
</Flow>
